@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');
.hero__container{
    background-color: rgb(212, 209, 209);
    display: grid;
    grid-template-columns: 50% 40%;
}
.hero{
    margin: 80px;
}
.hero h1{
    font-size: 3rem ;
    color: rgb(49, 25, 25);
}
.hero small{
    color: rgb(63, 63, 63);
    margin: 10px;
}
.button__container{
    margin: 10px;
}
.btn{
    border: 1px solid rgb(49, 25, 25);
    background-color:rgb(49, 25, 25);
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
.btn:hover{
    border: 1px solid rgb(49, 25, 25);
    background-color: transparent;
    color:rgb(49, 25, 25);
}


@media screen and (max-width: 1024px) {
    .hero__container{
        grid-template-columns: 1fr;
    }
    .hero {
        margin: 20px;
        width: fit-content;
    }
    .hero h1{
        font-size: 2rem;
    }
    .hero__img img{
       width: 350px;
       margin-top: 5px;
    }
  }

  .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    margin-top: -40px;
    margin-left: 100px;
  }
  .card{
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
    border-radius: 25px;
    height: fit-content;
  }
  .card h3{
    font-family: 'Raleway', sans-serif;
    color: rgb(49, 25, 25);
  }

  @media screen and (max-width: 1024px) {
   .cards{
    grid-template-columns: repeat(2, 1fr);
    margin: -0px;
    margin-top: -20px;
    margin-left: 0px;
   }
   .card img{
    width: 130px;
   }
  }

 